# Flutter
build/
.dart_tool/
.packages

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
